body {
    min-height: 100vh;
    background: #212534;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
  }

form {
    margin-bottom: 30px;
}

label {
    display: block;
    margin-top: 10px;
}

input, select, button {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #0056b3;
}

.stars label {
    font-size: 2em;
    color: gold;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  :root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
  }
.manga-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
  align-items: center;
  text-align: center;
}

.manga-card {
    background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 2em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;
  transition: color 1s;
  overflow: hidden;
}

.manga-card img {
  max-width: 500px; 
  height: auto; 
  max-height: 5800px; 
  object-fit: cover; 
  margin-right: 20px;
}
.manga-card:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
  }

@media (max-width: 768px) {
    :root {
        --card-height: 50vh; 
        --card-width: calc(var(--card-height) / 1.5);
    }

    .manga-card {
        width: 100%; 
        height: auto; 
        margin-bottom: 20px; 
    }

    .manga-cards {
        gap: 20px;
    }

    .stars label {
        font-size: 1.5em;
    }

    .manga-details h3 {
        font-size: 1.2em; 
    }

    .manga-details p {
        font-size: 1em;
    }
}

.manga-card::before {
    content: "";
    opacity: 1;
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
      
  }
  .manga-card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  
  a {
    color: #212534;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 2rem;
  }
.manga-details {
    padding: 15px;
    text-align: center;
}

.manga-details h3 {
    margin-top: 0;
}

.manga-details p {
    margin: 5px 0;
}

#mangaForm {
    display: none;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

.form-buttons button {
    width: 48%;
}
.manga-card .chapter-btn {
  opacity: 0;
  transition: opacity 0.3s ease;

}
.manga-card:hover .chapter-btn {
  opacity: 0.8;

}
.manga-card .delete-btn {
  background-color: rgb(247, 119, 119);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.manga-card:hover .delete-btn {
  opacity: 1;
}

.manga-card .delete-btn:active {
  background-color: rgb(247, 119, 119);
}